.leftMenu {
  padding: 2vw 0;
  text-align: center;
  width: 80%;
  height: fit-content;
  background-color: rgba(207,212,215,0.9);


  h1 {
    font-size: 1.2rem;

    line-height: normal;
  }
  h4 {
    font-size: 0.8rem;

    line-height: normal;
    white-space: nowrap;
  }
  p {
    font-size: 0.8rem;
  }
  img {
    width: 60%;
    height: auto;
    filter: saturate(70%);
  }
}
