.rubic-container {
    width: 100%;
    height: calc(100% - 12vw - 90px);
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 1500px;
    button {
        position: absolute;
        top:40px;
    }
}

.left-right-nav {
    position: absolute;
    top: 90px;
    z-index: 500;
}
.up-down-nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 20px;
    top:48%;
}
.rubic-cube {
    position: absolute;
    top: 40%;
    left:45%;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    .XZ {
        position: absolute;
        top:0;
    }
    .XY { position: absolute;
    top: 100px;
}
.YZ {
    position: absolute;
    left:0px;
    top:100px;
}
    .full {
        width: 200px;
        height: 200px;
    }
    .partX {
        width: 200px;
        height: 66.66px;
    }
    div.face {
        position: absolute;
        top: 0 ;
        left: 0;
        background-size: cover;

    div {
        width: 62px;
        height: 62px;
        border-radius: 7px;
        border: 2px solid black;
        position: relative;
    }
    }
    .control{
        position: absolute;
        left:0px;
        top:100px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap:wrap;
        background-color: transparent;
        .full {
            width: 204px;
            height: 204px;
        }
        .partX {
            width: 204px;
            height: 68px;
        }
        div.face {
            position: absolute;
            top: 0 ;
            left: 0;
            background-size: cover;

        div {

            width: 62px;
            height: 62px;
            border-radius: 7px;
            border: 2px solid transparent;
            position: relative;
            .movedown {
                color: violet;
                position: absolute;
                top:0px ;
                left: calc(50% - 6px);
             }
            .moveright{
                color: lightblue;
                position: absolute;
                top:calc(50% - 8px);
                right:0;

            }
            .moveleft{
                position: absolute;
                top:calc(50% - 8px);
                left:0px;

            }
            .moveup{
                position: absolute;
                bottom:0;
                left:calc(50% - 6px);

            }
        }
        }
    }
    div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap:wrap;
        background-color: transparent;
    }
}

div.top {
    transform: rotateX(90deg) translateZ(0px);
}


div.front {
    transform: translateX(0%) translateY(0%) translateZ(100px) rotateX(0deg);
}
div.right {
    transform: translateX(50%) translateY(0%) translateZ(0) rotateY(90deg);
}
div.back {
        transform: translateX(0%) translateY(0%) translateZ(-100px) rotateX(0deg);
}
div.left {
    transform: translateX(0%) translateY(0%) translateZ(0) rotateX(-90deg);
}

div.bottom {
    transform: translateX(0%) translateY(50%) translateZ(0) rotateZ(-90deg);
}



@media(max-width: 800px){

    .rubic-container{
    height: calc(100vh - 40px);
}
.rubic-cube {
    width: 100px;
    height: 100px;

    div.face {
        width: 100px;
        height: 100px;
        div {
            width: calc(33% - 2px);
            height: calc(33% - 2px);
            border-radius: 7px;
            border: 1px solid black;
        }
    }

}


div.front {
    transform: translateZ(50px);
}
div.back {
        transform: translateZ(-50px);
}
}