.rubic-container {
    width: 100%;
    height: calc(100% - 12vw - 90px);
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 1500px;
    button {
        position: absolute;
        top:0;
    }
}

.rubic-cube {
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    backface-visibility: hidden;

    div.face {
        position: absolute;
        top: 0 ;
        left: 0;
        background-size: cover;
        width: 200px;
        height: 200px;
    div {
        width: calc(33% - 4px);
        height: calc(33% - 4px);
        border-radius: 7px;
        border: 2px solid black;
    }
    }

    div {
        display: flex;
        flex-wrap:wrap;
        background-color: black;
    }
}

div.top {
    transform: translateX(0) translateY(-50%) rotateX(90deg);
}

div.front {
    transform: translateX(0%) translateY(0%) translateZ(100px) rotateX(0deg);
}
div.right {
    transform: translateX(50%) translateY(0%) translateZ(0) rotateY(90deg);
}
div.back {
        transform: translateX(0%) translateY(0%) translateZ(-100px) rotateX(0deg);
}
div.left {
    transform: translateX(-50%) translateY(0%) translateZ(0) rotateY(-90deg);
}

div.bottom {
    transform: translateX(0%) translateY(50%) translateZ(0) rotateX(-90deg);
}



@media(max-width: 800px){

    .rubic-container{
    height: calc(100vh - 40px);
}
.rubic-cube {
    width: 100px;
    height: 100px;
}

div.face {
    width: 100px;
    height: 100px;
}
div.front {
    transform: translateZ(50px);
}
div.back {
        transform: translateZ(-50px);
}
}