.memory_main {
  width: 100%;
  height: calc(100vh - 90px);
  display: flex;
  position: relative;
}

.memory_score {
  background-color: var(--hover-color);
  width: 25%;
  height: fit-content;
  padding-bottom: 2vw;
  padding: 1vw;
  margin: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;

  input {
    margin: 0.5vw;
    display: inline-block;
    width: 25%;
    text-align: center;
    background-color: var(--main-color);
  }
}
.shuffleInfo {
  position: relative;
  top: 0;
  color: var(--fonts-color);
}

.memory_game {
  margin: 1vw;
  width: 70%;
  height: calc(100% - 2vw);
  color: black;
  perspective: 135vh;

  table {
    border-collapse: separate;
    border-spacing: 5px;
    max-height: 100%;
    width: 75%;
    transform-style: preserve-3d;
    transition: transform 1.5s ease-in-out, bottom 1.5s ease, scale 1.5s ease;
    position: absolute;
    left: 6vw;
    td {
      position: relative;
      cursor: pointer;
    }
  }
}

.memo_div.flipped {
  transform: rotateY(180deg);
  transition: transform 0.5s linear;
}

.memo_div {
  transition: transform 0.8s;
  transform-style: preserve-3d;
  transition: transform 0.5s linear;

  .memo {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-size: cover;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(black, 0.25);
  }

  .back {
    transform: rotateY(180deg);
    transition: transform 0.5s linear;
    opacity: 1;
    &:hover {
      border: 2px solid var(--cover-color);
    }
    img {
      width: 100%;
      height: 100%;
      border-radius: 5px;
    box-shadow: 0 0 3px rgba(black, 0.25);
    }
  }
}

.backImgDiv {
  width: 30px;
  height: 30px;
  white-space: nowrap;
  position: relative;
  top: calc(1vw + 5px);
  left: 1vw;
  position: absolute;
  span {
    visibility: hidden;
    width: fit-content;
    background-color: var(--hover-color);
    color: var(--font-color);
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 30px;
  }
}
.backImgDiv:hover {
  span{
    visibility: visible;
  }
}
.backImgFirstChoice {
  background-size: cover;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 10;

}

.backImgAllChoice {
  border-radius: 5px;
  width: 30px;
  height:fit-content;
  display: flex;
  flex-direction: column;
  background-color: var(--cover-color);
  top: calc(1vw + 5px);
  left: 1vw;
  position: absolute;
  z-index: 10;
}
.backImg {
  display: block;
  width: 30px;
  height: 30px;
  margin: 2px;
  border-radius: 5px;
  background-size: cover;
}
.backImg:hover{
  border: 2px solid var(--active-color);
}

.cant {
  margin: 6px;
}
.btn {
  width: 50%;
  margin: 3px;
  color: var(--fonts-color);
  background-color: var(--main-color);
}
.btn:hover {
  color: white;
  background-color: var(--active-color);
}

.score_table {
  width: 100%;
  text-align: center;
  justify-content: center;
  font-size: 0.8rem;
  tr {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: none;
  }
  tr:nth-child(even) {
    background-color: var(--active-color);
  }

  th,
  td {
    width: 25%;
    padding: 2px;
  }
}
@media (max-width: 800px) {
  .memory_main {
   height: calc(100vh - 40px);
  justify-content: center;

  }

  .memory_score {

    width: 100%;
    flex-direction: row;
    background-color: rgba(213,218,222, 0.75);
    align-items: flex-start;
    top: calc(55vh + 50px);
    z-index: 300;
    h2 {
      font-size: 0.8rem;
    }

  }
  .shuffleInfo {
    top: -5vw;
  }

  .memory_game {
    margin-top: 4vw;
    width: 90%;
    height: calc(100% - 4vw);



    table {
      width: 100%;
    }
  }

  
  .backImgDiv {
     top: calc(3vw + 5px);
  }

  .backImgAllChoice {
    top: calc(3vw + 5px);
  }

  .score_table {
    width: 100%;
    text-align: center;
    justify-content: center;
    font-size: 0.8rem;
  }
}