.memory_main {
  width: 100%;
  height: calc(100vh - 90px);
  display: flex;
  position: relative;
}

.memory_score {
  background-color: var(--cover-color);
  width: 25%;
  height: fit-content;
  padding-bottom: 2vw;
  padding:1vw;
  margin: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;

  input {
      margin:0.5vw;
      display: inline-block;
      width: 25%;
      text-align: center;
      background-color: var(--main-color);
  }
}

.memory_game {
  margin: 1vw;
  width: 70%;
  height: calc(100% - 2vw);
  color: black;
  position: relative;
  perspective: 135vh;


  table {
    max-height: 100%;
    width: 75%;
    transform-style: preserve-3d;
  transition: transform 1.5s ease-in-out, bottom 1.5s ease, scale 1.5s ease;

  position: absolute;
    left:6vw;
    tr {
      td {
        .memo {
          background-size: cover;
          margin: 2px;
          transition: transform 0.6s;
  transform-style: preserve-3d;
        }
      }
    }
  }
}
.cant {
  margin: 6px;
}
.btn {
  width: 50%;
  margin: 3px;
  color: var(--fonts-color);
  background-color: var(--main-color);
}
.btn:hover {
  color: white;
  background-color: var(--active-color);
}

.score_table {
  width: 100%;
  text-align: center;
  justify-content: center;
  font-size: 0.8rem;
  tr {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: none;
  }
  tr:nth-child(even) {
    background-color: var(--active-color);
  }

  th,
  td {
    width: 25%;
    padding: 2px;
  }
}

.back {
  background-image: url("./images/back.jpg");
  transform: rotateY(180deg);

}
.memo2 {
  background-image: url("./images/2.jpg");
}
.memo1 {
  background-image: url("./images/1.jpg");
}
.memo3 {
  background-image: url("./images/3.jpg");
}
.memo4 {
  background-image: url("./images/4.jpg");
}
.memo5 {
  background-image: url("./images/5.jpg");
}
.memo6 {
  background-image: url("./images/6.jpg");
}
.memo7 {
  background-image: url("./images/7.jpg");
}
.memo8 {
  background-image: url("./images/8.jpg");
}
.memo9 {
  background-image: url("./images/9.jpg");
}
.memo10 {
  background-image: url("./images/10.jpg");
}
.memo11 {
  background-image: url("./images/11.jpg");
}
.memo12 {
  background-image: url("./images/12.jpg");
}
.memo13 {
  background-image: url("./images/13.jpg");
}
.memo14 {
  background-image: url("./images/14.jpg");
}
.memo15 {
  background-image: url("./images/15.jpg");
}
.memo15 {
  background-image: url("./images/15.jpg");
}
.memo16 {
  background-image: url("./images/16.jpg");
}
